{% extends "dashboard/base.html" %}

{% block title %}
    Вхід — Athletic Manager
{% endblock %}

{% block content %}
  <div class="flex justify-center mt-20">
    <div class="w-full max-w-md bg-white p-8 rounded shadow">
      <h2 class="text-2xl font-bold mb-6 text-center">
        Вхід до системи
      </h2>
      <form method="post">
        {% csrf_token %}
        {{ form.email.label_tag }}<br>
        {{ form.email }}<br><br>
        <button type="submit"
            class="w-full bg-blue-700 text-white py-2 rounded hover:bg-blue-800">
          Отримати код
        </button>
      </form>
    </div>
  </div>
{% endblock %}
